# Pandas - Data Cleaning

1. Renaming Columns
2. Re-arranging Column Order
3. Checking data types of specific columns
4. Removing Text from column
5. Deaing with Missing Data
6. Changing Data Types
7. Replacing Text within a column
8. String operations of column data
9. Removing Columns
10. Dropping Rows

In [ ]:
# Let's load a new dataset on the number of fires in the Amazon rainforest

import pandas as pd

file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/amazon_fires.csv"
df = pd.read_csv(file_name, encoding = "ISO-8859-1")

df.head()

# Renaming Columns

In [ ]:
new_columns = {'ano' : 'year',
               'estado': 'state',
               'mes': 'month',
               'numero': 'number_of_fires',
               'encontro': 'date'}

df.rename(columns = new_columns, inplace=True)

In [ ]:
df.head()

In [ ]:
# How many years of data do we have?
df['year'].unique()

In [ ]:
# Let's explore our datetypes, we should expect number_of_types to be an integer or float datatype

df.info()

# Re-arranging columns

In [ ]:
# Columns are numbered from 0, left to right
# Let's put date first, month second and year 3rd

new_order = [4,1,0,2,3,]
df = df[df.columns[new_order]]
df.head()

In [ ]:
df.head(25)

In [ ]:
df.tail()

# Removing unnecessary text from columns

In [ ]:
df['number_of_fires'].str.strip(" Fires")   ## IT does NOT change your dataframe unless you assign it back

Strip - Return a copy of the string with leading and trailing characters removed. If chars is omitted or None, whitespace characters are removed. If given and not None, chars must be a string; the characters in the string will be stripped from the both ends of the string this method is called on.

In [ ]:
# To replace column with cleaned column

df['number_of_fires'] = df['number_of_fires'].str.strip(" Fires")
df.head()

In [ ]:
df.info()

In [ ]:
# We need to convert our number_of_fires column to a float data type
# Also, here's an alternative string manipulation technique we can use

df["number_of_fires"] = df["number_of_fires"].astype(float)
df.head()

In [ ]:
df.info()

In [ ]:
df_copy=df.copy()

# Handling missing data

In [ ]:
# Viewing the sum of missing values in each column

df.isnull().sum()

In [ ]:
# We can easily remove Null or NaN (not a number) values

# Drop rows with NaN values
df = df.dropna()
df = df.reset_index() # reset's row indexes in case any rows were dropped
df.head()

In [ ]:
# Let's check and see it worked

df.isnull().sum()

In [ ]:
df_copy.isnull().sum()

# What do to with missing data?

* Remove them via .dropna(axis=0)
* Replace them with some arbitary number (e.g. an average)
* Replace them zeros, or Forward Fill (ffill) or Back Fill (backfill)

In [ ]:
# Using fillna with zeros

df_copy['number_of_fires'].fillna(0).head()

In [ ]:
df_copy.isnull().sum()

In [ ]:
# Let's try back filling
df_copy['number_of_fires'].fillna(method='ffill').head()

In [ ]:
# View index 444 to see how it changes
# Homework, change 444 using ffill and backfill to see how it changes
df_copy.iloc[444]

In [ ]:
df_copy.iloc[445]

In [ ]:
df_copy['number_of_fires'].fillna(method='ffill').iloc[445]

# Replacing text in columns

In [ ]:
# Let's convert our Portuguese month names to English

month_translations = {'Janeiro': 'January',
'Fevereiro': 'February',
'Mar√ßo': 'March',
'Abril': 'April',
'Maio': 'May',
'Junho': 'June',
'Julho': 'July',
'Agosto': 'August',
'Setembro': 'September',
'Outubro': 'October',
'Novembro': 'November',
'Dezembro': 'December'}

df["month"] = df["month"].map(month_translations)
df.head()

In [ ]:
df.isnull().sum()

# Further string functions on columns

In [ ]:
df['state'] = df['state'].str.title()
df['state'].unique()

# Removing columns

In [ ]:
df.head()

In [ ]:
# Dropping multiple columns
df = df.drop("date", axis=1) # axis = 1 so that it works across our columns
df.head()

In [ ]:
# Let's reload the data

# Let's reload our dataframe
file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/amazon_fires.csv"
df = pd.read_csv(file_name, encoding = "ISO-8859-1")
new_columns = {'ano' : 'year',
               'estado': 'state',
               'mes': 'month',
               'numero': 'number_of_fires',
               'encontro': 'date'}
df.rename(columns = new_columns, inplace=True)
df['number_of_fires'] = df['number_of_fires'].str.strip(" Fires")
df_copy = df.copy()
df.head()

In [ ]:
# Drop multiple columns
df = df.drop(["year", "date"], axis=1)
df.head()

# Dropping Rows

Using the df.index function

In [ ]:
# Let's drop the first row
df = df.drop(df.index[0])
df = df.reset_index()
df.head()

In [ ]:
# Drop multiple rows

df = df.drop(df.index[[2,3]])
df.head()

In [ ]:
# Drop a range of rows

df = df.drop(df.index[1:4])
df.head()